body {
  font-family: "Raleway", sans-serif;
}

h5 {
color: rgb(240, 9, 97);
font-size: 40px;
font-family: 'Roboto', sans-serif;
}

.nav-link{
color: rgb(240, 9, 97) !important;
font-family: 'Roboto', sans-serif;
}
    
/* Hero Section */

#Hero-Section {
  background-image: url("../img/foto\ blazer\ rojo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.display-1{
  color: rgb(240, 9, 97);

}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}


